<div class="About">
    <h1>About Page:</h1>
    <p>This is my first attempt to create a "Task List" using Angular (TypeScript). I used Angular Documentation 
        (found at Angular's Website <a href="https://angular.io/docs">Click Here</a> and YouTube videos for help.
        The Task list was built using a JSON placeholder to hold the tasks using a REST API. This is found 
        this link, <a href="https://jsonplaceholder.typicode.com/">Click Here.</a>
    
    </p>
    <!-- <img [src]="./AngularAnglefish.jpg"> -->
    <br/>
    <img src="assets/AngularAnglefish.jpg" alt="Anglefish" height="200px" width="200px"/>
    <p>A very Angular Anglefish</p>

</div>
